<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Student Planner Calendar">
	<meta name="author" content="Alana Creech, David Bethelmy, Lisa Williams, Shari Smith">

	<title>Calendar</title>

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' />
		<!--Full Calendar CSS Link-->
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />

	<link rel="stylesheet" href="/css/planner.css" type="text/css" />
</head>

<body>
	<div id='wrap'>
		<div id='external-events'>
			<h4>Draggable Events</h4>
			<div class='fc-event'>New Event</div>
			<p>
				<img src="/images/trashcan.png" id="trash" alt="">
			</p>
		</div>

		<div id='calendar'></div>

		<div style='clear:both'></div>

		<xspan class="tt">x</xspan>

	</div>

       <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script
 src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
 integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
 crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
	         <script src="/js/planner.js"></script>

	</body>
	</html>